@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://redpixelthemes.com/blog/change-tailwindcss-base-font-size/#:~:text=The%20current%20Tailwind%20CSS%20base,most%20popular%20browsers%20like%20Chrome. */
html {
  font-size: 14px;
}

input:focus {
  outline: none;
}
